# Ignore node_modules in api and client
api/node_modules
client/node_modules

# Optional: Ignore log files
*.log

# Optional: Ignore environment files
.env

# Ignore MacOS system files (if you're on Mac)
.DS_Store
